---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Banquet from "../../components/Banquet.astro";
---

<BaseLayout>
  <head>
    <title>Banquet Hall in Gurugram | Tanvi Premium Hotels & Resort</title>
    <meta
      name="description"
      content="Celebrate weddings, parties, and events at Tanvi Premium Hotels & Resort banquet hall. Spacious, premium service, and perfect for functions."
    />
  </head>
  <Banquet />
</BaseLayout>
