---
import BookingPage from "../../components/BookingPage.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <head>
    <title>Book Your Stay | Tanvi Premium Hotels & Resort</title>
    <meta
      name="description"
      content="Easily book premium rooms, deluxe rooms, resort stays, or banquet hall at Tanvi Premium Hotels & Resort in Gurugram."
    />
  </head>
  <BookingPage />
</BaseLayout>
