---
import Resorts from "../../components/Resorts.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <head>
    <title>Luxury Resort in Aravali Hills | Tanvi Premium Group</title>
    <meta
      name="description"
      content="Escape to our resort in Aravali Hills. Relax with pool, cafe, nature views, and premium hospitality by Tanvi Premium Group."
    />
  </head>
  <Resorts />
</BaseLayout>
