---
import Rooms from "../../components/Rooms.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <head>
    <title>Premium & Deluxe Rooms in Gurugram | Tanvi Premium Hotels</title>
    <meta
      name="description"
      content="Stay in style at Tanvi Premium Hotels. Choose from deluxe or premium rooms with modern amenities, comfort, and prime location in Gurugram."
    />
  </head>
  <Rooms />
</BaseLayout>
