---
import About from "../components/About.astro";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <head>
    <title>About Tanvi Premium Hotels & Resort | Gurugram</title>
    <meta
      name="description"
      content="Learn about Tanvi Premium Hotels & Resort in Gurugram. Offering luxury rooms, resort experience, banquet facilities, and premium hospitality."
    />
  </head>
  <About />
</BaseLayout>
