---
import BaseLayout from "../layouts/BaseLayout.astro";
import Contact from "../components/Contact.astro";
---

<BaseLayout>
  <head>
    <title>Contact Us | Tanvi Premium Hotels & Resort</title>
    <meta
      name="description"
      content="Get in touch with Tanvi Premium Hotels & Resort. Call +91 9821841113 or email tanvipremiumgroup@gmail.com. Visit our hotel & resort in Gurugram."
    />
  </head>
  <Contact />
</BaseLayout>
