---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import PromoCarousel from "../components/Promotion.jsx";
import Reviews from "../components/Reviews.astro";
---

<BaseLayout>
  <head>
    <title>Tanvi Premium Hotels & Resort | Luxury Stay in Gurugram</title>
    <meta
      name="description"
      content="Discover Tanvi Premium Hotels & Resort in Gurugram. Premium & deluxe rooms, resort in Aravali Hills with pool & cafe, plus banquet hall for events."
    />
  </head>

  <HeroSection />
  <Reviews />
  <PromoCarousel client:only="react" />
</BaseLayout>
