---
import Navbar from "../components/Navbar.astro";
import "../styles/globals.css";
import Footer from "../components/Footer.astro";
import WhatsAppBubble from "../components/WhatsappWidget.jsx";
const { headContent } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/Logo.png" />
    <link rel="apple-touch-icon" href="/Logo.png" />

    <meta property="og:title" content="Tanvi Premium Hotels & Resort" />
    <meta property="og:image" content="/aboutBG.png" />
    <meta property="og:url" content="https://tanvipremiumgroup.com/" />
    <meta property="og:type" content="website" />

    <meta name="author" content="Tanvi Premium Group" />
    <meta name="email" content="tanvipremiumgroup@gmail.com" />
    <meta name="telephone" content="+91 9821841113" />

    <!-- Canonical -->
    <link rel="canonical" href="https://tanvipremiumgroup.com/" />
    {headContent}
  </head>

  <body class="bg-white text-gray-900">
    <header class="sticky top-0 z-50"><Navbar /></header>
    <main id="page" class="flex-1 min-h-screen">
      <slot />
    </main>
    <WhatsAppBubble client:only="react" />
    <Footer />
  </body>
</html>
